* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.books-holder {
  margin: 50px auto 0 auto;
  width: 85%;
  display: flex;
  max-height: 60vh;
  overflow: auto;
  flex-direction: column;
  gap: 20px;
}

.inter-btn {
  cursor: pointer;
  padding: 5px 15px;
  background: transparent;
  border: none;
  color: rgb(14, 85, 166);
}

.book-buttons {
  margin: 10px 0 10px -15px;
}

.middle {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.line {
  width: 85%;
  margin: 40px auto;
  height: 1.5px;
  border: none;
  background-color: lightgrey;
}
