* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-holder {
  margin: 0 auto;
  padding: 0 7.5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#add-book {
  color: grey;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
}

form input {
  border: 1px solid lightgrey;
  height: 45px;
  padding: 0 10px;
  font-size: 16px;
}

input[type='submit'] {
  flex: 1;
  font-weight: 700;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 20px;
  width: fit-content;
  background-color: rgb(19, 129, 255);
}

input[type='submit']:hover {
  background-color: rgb(56, 149, 255);
}

.error {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  transform: translateY(-150%);
  padding: 10px;
  margin: 0 auto;
  width: 30%;
  transition: all 0.5s;
  text-align: center;
  background-color: transparent;
  opacity: 0;
}

.slide {
  background-color: rgba(255, 0, 0, 0.733);
  transform: translateY(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  form {
    flex-direction: row;
  }

  #input-title {
    width: 45%;
  }

  #input-author {
    width: 30%;
  }
}
