@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.book-container {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

h4 {
  color: grey;
  text-transform: capitalize;
}

h2 {
  text-transform: capitalize;
  margin-top: 8px;
  letter-spacing: 0.05rem;
}

.left-section h3 {
  text-transform: capitalize;
  color: rgb(17, 117, 231);
  font-weight: 100;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.middle-section {
  display: flex;
  align-items: center;
  width: 33.33%;
}

#progress-bar-info {
  width: 50%;
  margin-left: auto;
  border-right: 1px solid lightgrey;
}

#percentage {
  font-size: 32px;
}

#completed {
  color: grey;
}

.right-section {
  padding: 10px 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#chap-title {
  color: grey;
  font-size: 12px;
}

#update-btn {
  cursor: pointer;
  margin-top: 20px;
  width: fit-content;
  border: none;
  color: white;
  background-color: rgb(19, 129, 255);
  padding: 8px 25px;
}

#update-btn:hover {
  background-color: rgb(56, 149, 255);
}
