* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cat-parag {
  margin-top: 150px;
  font-size: 32px;
}

#cat-btn {
  cursor: pointer;
  margin-top: 50px;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: rgb(19, 129, 255);
}
